/* css stylesheet for lab_08  */
/* home page */

html {
  font-size: 18px;
}
body {
  background-color: rgb(193, 181, 152);
  font-family: 'Indie Flower', cursive;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(135, 107, 181);
  height: 3.5rem;
  max-width: 80%;
  margin: 1rem auto;
  border-radius: 20px;
  text-shadow: 2px 2px 1px black;
}
ul {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
  border: solid rgb(255, 223, 140) 2px;
  border-radius: 10px;
  padding: .15rem .3rem .15rem .3rem;
  background-color:  rgba(111, 70, 185, 0.9);
}
li {
  list-style: none;
  padding-right: 1rem;
}
#roboMessage {
  font-size: 1rem;
  float: left;
  text-shadow: none;
  padding: 1rem 0 0 1rem;
}
header {
  height: 6rem;
  max-width: 80%;
  margin: auto;
  background-color: rgb(255, 223, 140);
  text-align: center;
  line-height: 6rem;
  border-radius: 20px;
  font-size: 1.5rem;
}
header h1:first-letter {
  font-size: 5rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
  margin: .5rem;
}
.picBox {
  width: 17rem;
  height: auto;
  margin: auto;
}
img {
  width: 6rem;
  margin: 1rem;
  border: .5rem ridge rgba(66, 147, 205, 0.5);
}
main {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin: auto;
}
input {
  vertical-align: 4rem;
}
.button {
  width: 7rem;
  height: 2rem;
  background-color: rgba(255, 83, 67, 0.5);
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 4px 4px 6px #888;
  border: solid 3px rgb(135, 107, 181);
  text-shadow: 2px 1px 1px rgb(255, 223, 140);
  transition: color .25s linear;
}
.button:hover {
  color: rgb(255, 223, 140);
  text-shadow: 2px 1px 1px black;
}
footer {

}
@media only screen and (max-width: 930px) {
  header {
    font-size: .75rem;
  }
}
@media only screen and (max-width: 520px) {
  header {
    line-height: inherit;
    margin-bottom: 1rem;
  }
  header h1:first-letter {
    font-size: 1.5rem;  
    padding: 0 .5rem 0 .5rem;
    margin: .15rem;
  }
  .picBox {
    margin: 0;
  }
  img {
    margin: 0;
  }
  main {
    max-width: 80%;
  }
  #roboMessage {
    max-width: 60%;
    padding-top: .25rem;
  }
}
@media only screen and (max-width: 394px) {
  ul {
    justify-content: space-around;
  }
  nav ul {
    padding-top: 1rem;
  }
  nav a {
    text-decoration: underline;
    color: white;
    font-size: 1.15rem;
    border: none;
    padding: 0;
    background-color:  inherit;
    font-size: 1rem;
  }
  ul {
    padding: 0;
    text-align: center;
  }
}